
@font-face {
  font-family: customfont;
  src: url(src/css/fonts/centurygothic.ttf);
}
:root {
  /* по умолчанию, но может измениться на странице главного макета */
  --text-size: 14px;
  --bg-color-dark: rgba(60, 60, 60);
  --bg-color-light: rgb(245, 245, 240);
  --border-color-dark: rgba(117, 107, 107, 0.8);
  --border-color-light: rgba(167, 196, 117, 0.8);
  --bg-color: var(--bg-color-dark);
  --border-color: var(--bg-color-dark);
}
/* В вашем CSS файле */
.loading-spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.main-font {
  font-family: 'customfont';
}
.m-table {
  /* height or max-height is important */
  height: 80vh;
  /* this is when the loading indicator appears */
  padding: 5px;
}
.m-table .q-table__top,
.m-table .q-table__bottom,
.m-table thead tr:first-child th {
  background-color: rgb(60, 60, 60);
}
.m-table thead tr th {
  position: sticky;
  z-index: 1;
}
.m-table thead tr:first-child th {
  top: 0;
}
.m-table.q-table--loading thead tr:last-child th {
  top: 48px;
}
*::-webkit-scrollbar {
  background: var(--bg-color);
}
*::-webkit-scrollbar-thumb {
  background: var(--border-color);
}
*::-webkit-scrollbar-corner {
  background: var(--bg-color);
}


body {
  unicode-bidi: plaintext;
  scrollbar-width: none;
}

.bg-header-dark {
  background-color: rgb(80, 80, 80);
}
.bg-header-light {
  background-color: rgb(97, 153, 91);
}
.bg-card-dark {
  background-color: rgb(83, 83, 83);
}
.bg-card-light {
  background-color: rgba(250, 250, 250, 0.199);
}

.bg-select-light {
  background-color: rgb(196, 240, 192);
}
.bg-select-dark {
  background-color: rgb(90, 90, 90);
}

/* стиль для сепараторов */
.pp-separator {
  background-color: var(--border-color);
}

/* цвета для иконок */
.no {
  filter: none;
}
.white {
  filter: brightness(0) invert(1);
}
.grey {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(100%) contrast(0%);
}

.orange {
  filter: brightness(0) saturate(100%) invert(79%) sepia(0%) saturate(13%) hue-rotate(136deg) brightness(94%) contrast(99%);
  /* filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5419%) hue-rotate(176deg) brightness(114%) contrast(76%); */
    /* filter: brightness(0) saturate(100%) invert(59%) sepia(48%) saturate(6650%) hue-rotate(1deg) brightness(101%) contrast(108%); */
}
.green {
  /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(100%) contrast(0%); */
  filter: brightness(0) saturate(100%) invert(56%) sepia(71%) saturate(301%) hue-rotate(80deg) brightness(98%) contrast(90%);
}

.black {
  filter: brightness(0) contrast(100%);
}


/* потом удалить */
.bg-background {
  background-color: rgb(60, 60, 60);
}
.pp-bg-dark {
  background-color: var(--bg-color-dark);
}
.pp-bg-light {
  background-color: var(--bg-color-light);
}
.pp-dark {
  background-color: rgb(60, 60, 60) !important;
  color: white !important;
  font-size: var(--text-size) !important;
  border-color: var(--border-color) !important;
}
.pp-light {
  background-color: rgb(245, 245, 240) !important;
  color: black !important;
  font-size: var(--text-size) !important;
  border-color: var(--border-color) !important;
}
.pp-header-dark{
  background-color: rgb(80, 80, 80) !important;
  color: white !important;
  font-size: var(--text-size) !important;
}
.pp-header-light{
  background-color: #61995b !important;
  color: white !important;
  font-size: var(--text-size) !important;
}
.pp-card-dark{
  background-color: #535353;
}
.pp-card-light{
  background-color: #e9e9e4;
}

  /* таблица для вкладки проекты */
.t-table {
  height: 73vh;
  background-color: rgb(60, 60, 60);
  border-collapse: collapse;
}
.t-table .q-table__top,
.t-table .q-table__bottom,
.t-table thead tr:first-child th {
  background-color: rgb(60, 60, 60);
}
.t-table thead tr th {
  position: sticky;
  z-index: 1;
  resize: horizontal;
  overflow: hidden;
}
.t-table thead tr:first-child th {
  top: 0;
}
.t-table.q-table--loading thead tr:last-child th {
  top: 48px;
}
.t-table::-webkit-scrollbar {
  background: rgb(60, 60, 60);
}
.t-table::-webkit-scrollbar-thumb {
  background: grey;
}
.t-table:hover::-webkit-scrollbar-thumb {
  background: grey
}
.t-table::-webkit-scrollbar-thumb:hover {
  background: grey
}
.t-table::-webkit-scrollbar-corner {
  background: rgb(60, 60, 60);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text-size {
  font-size: var(--text-size);
  font-weight: normal;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-pa-ma {
  padding: 0 !important;
  margin: 0 !important;
}

.fix-table {
  padding: 0px;
}
.fix-table .q-table__top,
.fix-table .q-table__bottom,
.fix-table thead tr:first-child th {
  background-color: var(--bg-color) !important;
}
.fix-table thead tr th {
  position: sticky;
  z-index: 1;
}
.fix-table thead tr:first-child th {
  top: 0;
}
.fix-table.q-table--loading thead tr:last-child th {
  top: 48px;
}


.jse-theme-dark {
  --jse-theme: dark;

  /* over all fonts, sizes, and colors */
  --jse-theme-color: #2f6dd0;
  --jse-theme-color-highlight: #467cd2;
  --jse-background-color: #1e1e1e;
  --jse-text-color: #d4d4d4;
  --jse-text-color-inverse: #4d4d4d;

  /* main, menu, modal */
  --jse-main-border: 1px solid #4f4f4f;
  --jse-menu-color: #fff;
  --jse-modal-background: #2f2f2f;
  --jse-modal-overlay-background: rgba(0, 0, 0, 0.5);
  --jse-modal-code-background: #2f2f2f;

  /* tooltip in text mode */
  --jse-tooltip-color: var(--jse-text-color);
  --jse-tooltip-background: #4b4b4b;
  --jse-tooltip-border: 1px solid #737373;
  --jse-tooltip-action-button-color: inherit;
  --jse-tooltip-action-button-background: #737373;

  /* panels: navigation bar, gutter, search box */
  --jse-panel-background: #333333;
  --jse-panel-background-border: 1px solid #464646;
  --jse-panel-color: var(--jse-text-color);
  --jse-panel-color-readonly: #737373;
  --jse-panel-border: 1px solid #3c3c3c;
  --jse-panel-button-color-highlight: #e5e5e5;
  --jse-panel-button-background-highlight: #464646;

  /* navigation-bar */
  --jse-navigation-bar-background: #656565;
  --jse-navigation-bar-background-highlight: #7e7e7e;
  --jse-navigation-bar-dropdown-color: var(--jse-text-color);

  /* context menu */
  --jse-context-menu-background: #4b4b4b;
  --jse-context-menu-background-highlight: #595959;
  --jse-context-menu-separator-color: #595959;
  --jse-context-menu-color: var(--jse-text-color);
  --jse-context-menu-pointer-background: #737373;
  --jse-context-menu-pointer-background-highlight: #818181;
  --jse-context-menu-pointer-color: var(--jse-context-menu-color);

  /* contents: json key and values */
  --jse-key-color: #9cdcfe;
  --jse-value-color: var(--jse-text-color);
  --jse-value-color-number: #b5cea8;
  --jse-value-color-boolean: #569cd6;
  --jse-value-color-null: #569cd6;
  --jse-value-color-string: #ce9178;
  --jse-value-color-url: #ce9178;
  --jse-delimiter-color: #949494;
  --jse-edit-outline: 2px solid var(--jse-text-color);

  /* contents: selected or hovered */
  --jse-selection-background-color: #464646;
  --jse-selection-background-inactive-color: #333333;
  --jse-hover-background-color: #343434;
  --jse-active-line-background-color: rgba(255, 255, 255, 0.06);
  --jse-search-match-background-color: #343434;

  /* contents: section of collapsed items in an array */
  --jse-collapsed-items-background-color: #333333;
  --jse-collapsed-items-selected-background-color: #565656;
  --jse-collapsed-items-link-color: #b2b2b2;
  --jse-collapsed-items-link-color-highlight: #ec8477;

  /* contents: highlighting of search results */
  --jse-search-match-color: #724c27;
  --jse-search-match-outline: 1px solid #966535;
  --jse-search-match-active-color: #9f6c39;
  --jse-search-match-active-outline: 1px solid #bb7f43;

  /* contents: inline tags inside the JSON document */
  --jse-tag-background: #444444;
  --jse-tag-color: #bdbdbd;

  /* contents: table */
  --jse-table-header-background: #333333;
  --jse-table-header-background-highlight: #424242;
  --jse-table-row-odd-background: rgba(255, 255, 255, 0.1);

  /* controls in modals: inputs, buttons, and `a` */
  --jse-input-background: #3d3d3d;
  --jse-input-border: var(--jse-main-border);
  --jse-button-background: #808080;
  --jse-button-background-highlight: #7a7a7a;
  --jse-button-color: #e0e0e0;
  --jse-button-secondary-background: #494949;
  --jse-button-secondary-background-highlight: #5d5d5d;
  --jse-button-secondary-background-disabled: #9d9d9d;
  --jse-button-secondary-color: var(--jse-text-color);
  --jse-a-color: #55abff;
  --jse-a-color-highlight: #4387c9;

  /* svelte-select */
  --jse-svelte-select-background: #3d3d3d;
  --jse-svelte-select-border: 1px solid #4f4f4f;
  --list-background: #3d3d3d;
  --item-hover-bg: #505050;
  --multi-item-bg: #5b5b5b;
  --input-color: #d4d4d4;
  --multi-clear-bg: #8a8a8a;
  --multi-item-clear-icon-color: #d4d4d4;
  --multi-item-outline: 1px solid #696969;
  --list-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);

  /* color picker */
  --jse-color-picker-background: #656565;
  --jse-color-picker-border-box-shadow: #8c8c8c 0 0 0 1px;
}
